body {
  margin: 0 auto;
  width: 90%;
  /* background-image: url("../src/images/spikes.png"); */
  background-color: #FEFFFF;
}

.App {
  text-align: center;
  color: #17252A;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Button Styling */

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}


/* Styling for the Nav Bar */

.navbar {
  /* -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DEF2F1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

li {
  float: right;
}

li a {
  display: block;
  color: #17252A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #3d8be9;
  color: white;
}

.jack {
  float: left;
  color: #17252A;
  text-align: center;
  padding-left: 14px;
}

.titlestatement {
  font-size: 2rem;
}

/* Styling for the Main Content of the Home Page */

.maincontent {
  background-color: #DEF2F1;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  align-items: center;
  /* box-shadow: 10px 10px 5px grey; */
}

.maincontentstatement {
  font-size: 2rem;
  margin: 1rem;
  align-items: center;
}

.mainrightcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the Cards */

.cardscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #DEF2F1;
  border-radius: 8px;
  padding: 2rem;
  margin: 2rem; 
  width: 20%;
  /* box-shadow: 10px 10px 5px grey; */
}

/* Styling for the Footer */

.footercontainer {
  padding: 2rem;
  background-color: #2a3b4e;
  display: flex;
  flex-direction: column;
}

.footernav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footerlinks {
  color: white;
  text-decoration: none;
}

/* Styling for the about page */

.aboutcontent {
  background-color: #DEF2F1;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.aboutrightcolumn {
  padding: 2rem;
  line-height: 2;
}

/* Styling for the Contact Form */

.contactform {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* box-sizing: border-box; */
}

/* Portfolio Styling */

.screenshots {
  max-width: 100%;
}